# Node/Expo/React Native
node_modules/
.expo/
.expo-shared/
.metro-cache/
web-build/
dist/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor/OS
.DS_Store
.idea/
.vscode/
Thumbs.db

# Testing/coverage
coverage/

# Firebase/Emulator
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.runtimeconfig.json

# Env files (if you add any later)
.env
.env.*
.env.local
.env.development.local
.env.production.local

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
